body {
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    max-width: 864px;
    width: 100%;
}

.logo {
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    color: #242635;
}

.logo:hover {
    color:  rgb(117, 202, 239);
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

li {
    list-style: none;
    font-size: 16px;
    line-height: 22.4px;
    color: rgba(36, 38, 53, 1);
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: rgba(36, 38, 53, 1);
    font-family: 'Source Sans Pro', sans-serif;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(131, 89, 10);
}
a:active {
    color: rgb(117, 202, 239);
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    line-height: 102px;
    letter-spacing: -2px;
    margin: 20px;
}

.paragraph {
   font-size: 22px;
   line-height: 33px;
   margin: 20px;
   min-height: 66px;
  
}

.image {
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 800px) {

    .heading {
        font-size: 72px;
        letter-spacing: -1.6px;
        line-height: 82.8px;
    }

}
@media screen and {
    
}