body {
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.logo {
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    color: #242635;
}

.logo:hover {
    color:  rgb(117, 202, 239);
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

li {
    list-style: none;
    font-size: 16px;
    line-height: 22.4px;
    color: rgba(36, 38, 53, 1);
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: rgba(36, 38, 53, 1);
    font-family: 'Source Sans Pro', sans-serif;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(131, 89, 10);
}
a:active {
    color: rgb(117, 202, 239);
}

h1 {
    font-family: 'Poppins', sans-serif;
}

